#skills .container .section-heading {
color: white;
text-align: center;
padding: 20px;
}

/* cards */
.p .li {
margin-bottom: 0 auto;
}

/* cards */
#skills {
margin-top: 25px;
margin-bottom: 200px;
}

.card .card-items {
margin-left:40px;
margin-right:60px;
}

.card .card-items .card-icon {
width:25%;
}

.icon { 
    transition: all .2s ease-in-out; 
    }
    
    .icon:hover { 
    transform: scale(1.1); 
    }
