#skills .container .section-heading {
color: white;
text-align: center;
padding: 20px;
margin-bottom: 50px;
}

/* cards */
li {
margin-bottom: 0 auto;
font-size: 18px;
color: white;
font-weight: normal;
}

.icon { 
    transition: all .2s ease-in-out; 
    text-align: center;
    align-items: center;
    }
    
    .icon:hover { 
    transform: scale(1.2); 
    }

/* Cards */
#skills .container {
    width: 100%;
    padding: 10px;      
}

.card-container {
    margin-bottom: 15px;
    align-items: center;          
}

.card-container-skills {
    margin-bottom: 15px; 
    background-color: #414141;
    border-radius: 10px;
    padding: 20px;
}

.card-skills {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
}
