/* cards */
h3 {
justify-content: center;
}

.p .li {
margin-bottom: 0 auto;
}

/* cards */
#skills {
margin-top: 25px;
margin-bottom: 200px;
}

#skills .card {
background-image: url("../images/card.png");
background-size:cover ;
height:565px;
display: flex;
align-items: center;
justify-content: center;
margin-bottom:20px;
border: none;
}

.card .card-items {
margin-left:40px;
margin-right:60px;
}

.card .card-items .card-icon {
width:25%;
}