/* Style the header */
.header {
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    opacity: 1;
    }

.logo {
    height: 120px;
    width: 400px;
    position: flex;
    margin-left: 50px;
    }

/* Style the header nav links */
    .header a {
        float: left;
        color: white;
        text-align: left;
        padding: 12px;
        text-decoration: none;
        font-size: 16px;
        line-height: 25px;
        border-radius: 4px;
        }

        /* Change the background color on mouse-over */
        .header a:hover {
            background-color: #30ccb9;
            color: white;
            text-decoration: none;
            }

        /* Style the active/current link*/
        .header a.active {
            background-color: #30ccb9;
            color: white;
            text-decoration: none;
            }

/* Format nav links */
.header-right {
    float: right;
    padding: 50px;
    }

body, html {
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background-image: url(../images/paper-sheets-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
    
/* Container for hero image */
.container {    
    height: 70%;
    width: 45%;
    padding: 20px 20px;
    /* Position and center the image to scale nicely on all screens */
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 1;
    }

/* Style typography */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 50px;
    color: white;
    font-weight: lighter;
    }

h2 {
    font-size: 30px;
    color: white;
    align-content: center;
    }

h3 {
        font-size: 22px;
        color: white;
        font-weight: bold;
        }

h4 {
    font-size: 18px;
    color: white;
    font-weight: bold;
     }        

h5 {
    font-weight: bold;
}

p {
    font-size: 20px;
    color: white;
    font-weight: lighter;
    }

li {
    font-size: 20px;
    color: white;
    font-weight: lighter;
}

/* Style buttons */
button {
    background-color: #30ccb9;
    color: white;
    border: 0;
    padding: 14px 40px;
    text-align: center;
    font-size: 20px;
    margin-top: 60px;
    text-decoration: none;
    }

    .button {
        background-color: #30ccb9;
        color: white;
        border: 0;
        padding: 14px 40px;
        text-align: center;
        font-size: 20px;
        margin-top: 60px;
        text-decoration: none;
        }

    /* Button states */
    .button a:hover {
        text-decoration: none;
        }

        /* Button states */
    .button a:active {
       text-decoration: none;
        }


.container .button {
text-decoration: none;
color: white;
background-color: #30ccb9;
}
        
/* Footer Styles */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 0;
    opacity: 1;
}

    .footer a {
        color: white;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        margin-bottom: 0;
        opacity: 1;
    }
    
        footer a {
            color: white;
        }

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
    text-decoration: none;
    color: #b7b7b7; 
  }
  
  /* Set a specific color for each brand */
  
  /* LinkedIn */
  .fa-linkedin {
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    color: white;
  }

  /* Instagram */
  .fa-instagram {
    color: white;
  }

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
       }

    .header-right {
        float: none;
        }

@media (max-width: 500px) {
    .flex-container {
      flex-direction: column;
    }
  }

  @media (max-width: 500px) {
    .logo {
    text-align: center;
    }
  }